* {
    color: rgb(38,38,38);
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@font-face {
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
    font-family: 'Pacifico';
}

@font-face {
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
    font-family: 'Raleway';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf');
    font-family: 'Raleway';
    font-weight: 900;
}

@font-face {
    src: url('../fonts/Raleway/Raleway-Light.ttf');
    font-family: 'Raleway';
}

.col-centered {
    margin: 0 auto;
}

.home {
    background-image: url("../assets/img/header-bg.jpg");
    background-position: center center;
    background-size: contain;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-color: #faf9fb;
    position: relative;

    &__information {
        position:absolute;
        top:50%;
        width:100%;
        transform: translate(0,-50%);
    }

    &__title {
        font-size:60px;
        font-weight: 900;
        display: block;
    }

    &__description {
        font-size: 17px;
        display: block;

    }

    &__btn {
        display: block;
        width:200px;
        height:55px;
        font-size: 20px;
        outline:none;
        margin-top: 30px;
        background-color: #ff6033;
        border: none;
        color:#ffdcd6;
        box-shadow: 1px 1px 4px 1px #9a9a9c;
        cursor: pointer;
    }
}

.nav {
    padding: 50px 10% 0;
}

.navbar {
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
    align-self: flex-start;
    overflow: hidden;
    margin: auto;

    &__item {
        margin-right: 20px;
        display: flex;
        align-self: center;

        &--left {
            align-self:flex-start;
        }

        &--right {
            margin-left: auto;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold; 
        border-top:3px solid transparent;
        border-bottom:3px solid transparent;
        padding: 5px 2px;
        transition: all .3s ease;
    }

    &__logo {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        font-weight: normal; 
        text-decoration: none;
    }
}

.navbar__link:hover,
.navbar__link--active {
    border-top: 3px solid #ff6033;
}

.mouse-icon {
    position: absolute;
    top:85%;
    left:50%;
}

.mouse-icon svg {
    position: relative;
    cursor: pointer;
}
  
.mouse-icon svg rect {
    top: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    animation-name:mousescroll;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
  
@keyframes mousescroll {
    0% {transform:translateY(0px);opacity:0}
    50% {transform:translateY(4px);opacity:1}
    100% {transform:translateY(8px);opacity:0}
}

.about {
    background-color: #00b1b1;
    min-height: 100vh;
    display: flex;
    align-items: center;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 90px;
        font-weight: 700;
    }

    &__information {
        flex: 1 1 50%;
        margin-left: 5%
    }

    &__paragraph {
        color: rgb(255, 255, 255);
        font-size: 17px;
        line-height: 28px;
    }
}

.services {
    background-color: #70bfff;
    min-height: 100vh;
    display: flex;
    align-items: center;

    &__card {
        height: 100px;
        width: 400px;
        background-color: #ffffff;
        margin-bottom: 20px;
        box-shadow: 2px 2px 5px 1px #44739a;
        display:flex;
    }

    &__title {
        background-image: url('../assets/img/services.png');
        background-position: top center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 580px;
        text-align: center;
    }

    &__text {
        font-size:90px;
        color: white;
        font-weight: bold;
    }

    &__service {
        font-size:20px;
        font-weight: 700;
        height:100%;
        width:75%;
        position: relative;
    }

    &__info {
        position: absolute;
        top:50%;
        left:50%;
        width:100%;
        text-align: center;
        transform:translate(-50%,-50%);
    }

    &__icon-container {
        width:25%;
        border-left: 1px solid #9d9d9d;
        height:100%;
        position: relative;
    }
    &__icon {
        position: absolute;
        top:50%;
        left:50%;
        text-align: center;
        transform:translate(-50%,-50%);
    } 
}

.gallery {
    background-color: #ffe92f;
    min-height: 100vh;
    padding-bottom: 120px;

    &__title {
        font-size: 90px;
        text-align:center;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    &__desc {
        font-size: 17px;
        width: 600px;
        margin:auto;
        text-align: center;
        padding-bottom: 50px;
    }

    &__img {
        box-shadow: 1px 1px 10px 1px rgba(44, 43, 43, 0.5);
        

        &--left {
            margin-right: auto;
        } 

        &--right {
            margin-left: auto;
        }

        &--col {
            margin-top: 30px;
        }

        &--centered {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__btn {
        
        width: 200px;
        height:55px;
        margin:auto;
        display: block;
        text-decoration: none;
        text-align: center;
        line-height: 55px;
        color:white;
        margin-top: 50px;
        box-shadow: 1px 1px 5px 1px rgba(44, 43, 43, 0.5);

        &--blue {
            background-color: #5585a2;
        }

        &--salmon {
            background-color: #f72b3b;
        }
    }
}

.subscribe {
    background-color: #ffffff;
    min-height: 500px;
    background-image: url('../assets/img/subscribe.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
  
    &__container {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    &__title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 35px;
    }

    &__desc {
        font-size: 17px;
        width: 550px;
        margin-bottom: 35px;
    }

}

.form {
    &__subscribe {
        width: 570px;
        padding: 12px;
        height: 55px;
        font-size: 15px;
        background-color: rgba(255,255,255,0.5);
        border: 1px solid black;
        margin-right: 30px;
    }

    &__submit {
        height: 55px;
        width: 170px;
        line-height: 55px;
        font-size: 20px;
        border:none;
        background-color: #96b92c;
        color: white;
        box-shadow: 1px 1px 5px 1px rgba(44, 43, 43, 0.5);
        cursor: pointer;
    }

    &__input {
        width: 500px;
        display:block;
        margin:auto;
        margin-bottom: 15px;
        padding: 15px;
        background-color: #78dada;
        border: none;
        color:#ddf3f4;
    }

    &__message {
        width: 500px;
        height: 250px;
        resize: none;
        display:block;
        margin:auto;
        padding: 15px;
        background-color: #78dada;
        border: none;
        font-family: 'Raleway', sans-serif;
        color:#ddf3f4;
    }
}

.blog {
    background-color: #b07cf7;
    min-height: 100vh;
    padding-bottom: 120px;

    &__title {
        font-size: 90px;
        text-align: center;
        padding-top: 100px;
        margin-bottom: 30px;
        color: white;
    }
    &__desc {
        font-size: 17px;
        text-align: center;
        color: white;
        margin: auto;
        width: 600px;
    }

    &__images {
        margin: 50px auto;
    }
}

.picture {
    position: relative;
    box-shadow: 1px 1px 5px 1px rgba(44, 43, 43, 0.5);
    max-width: 370px;
    max-height: 310px;
    margin: auto;
    
    &__overlay {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0) 44%, rgba(0,0,0,0) 46%, rgba(0,0,0,0.21) 59%, rgba(0,0,0,0.89) 100%);
    }

    &__tile {
        width: 60px;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
        border-radius: 5px;
        position: absolute;
        left: 30px;
        top: 30px;
    }

    &__date {
        font-size: 32px;
        color: white;
        font-weight: bold;
    }

    &__month {
        font-size: 21px;
        color: white;
        font-weight: 900;
    }
    &__title {
        position: absolute;
        font-size: 21px;
        font-weight: bold;
        color: white;
        top: 65%;
        left: 5%;
        right: 5%;
    }

    &__who {
        color: white;
        position: absolute;
        font-size: 14px;
        top: 88%;
        left: 5%;
        right: 5%;
    }
}

.contact {
    background-image: url('../assets/img/contact.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 866px;
    padding: 100px 0 120px 0;
    &__title {
        color:black;
        font-size: 90px;
        font-weight: bold;
        text-align: center;
        margin-bottom:50px;
    }
    &__desc {
        font-size: 17px;
        margin: 0 auto 50px;
        width:350px;
        text-align:center;
    }

    &__info {
        font-size: 18px;
        font-weight: bold;
    }

    &__group {
        margin-bottom: 20px;
    }
}

.footer {
    min-height: 90px;
    background-color: #262626;
}
